* {
  margin: 0;
  padding: 0;
}
.esconder {
  display: none;
}
.mostrar{
   display: block;
}
.contenedor{
  width:90%;
  max-width:1000px;
  padding: 10px 20px;
  margin: auto;
  display: flex;
  flex-direction:column;
  align-items: center;
}
/*--------estilos generales de la tarjeta----*/
.tarjeta{
  width: 100%;
  max-width:300px;
  z-index:2;
}
.tarjeta > div{
  padding: 30px;
  border-radius: 15px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);

}
.tarjeta .delantera{
  width: 90%;
  background: url(./IMAGENES/tarjeta.png);
  background-size:cover;
}
.delantera .logo-marca{
  text-align: right;
  min-height:50px;
}
.delantera .logo-marca img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 80px;
}
.delantera .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom:10px;
}
.delantera .grupo .label{
  font-size: 15px;
  color: #FFFEDE;
  margin:3px;
}
.delantera .grupo .numero{
  color:#F2E6E8;
  font-size:15px;
  text-transform:uppercase;
  margin: 2px;
}
.delantera .grupo .nombre{
  color: #F2E6E8;
  font-size:15px;
  text-transform:uppercase;
  margin: 2px;
}
.delantera .flexbox{
  display:flex;
  justify-content:space-between;
  margin-top:5px;
}
/*--------Formulario de tarjeta----*/
.formulario-tarjeta {
  background:#2F0068;
  width: 100%;
  max-width: 500px;
  padding: 140px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  top:-140px;
  z-index:1;
}
.formulario-tarjeta label{
  display: block;
  color: #F2E6E8;
  margin-bottom: 5px;
  font-size: 16px;
}
.formulario-tarjeta input,
.formulario-tarjeta select{
  border: 2px solid #CED6E0;
  font-size:11px;
  height: 19px;
  width: 100%;
  padding: 1px 2px;
  transition: .3s ease-out;
  border-radius: 5px;
}
.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover{
  border: 2px solid #938DED;
}
.formulario-tarjeta input{
  margin-bottom: 8px;
  text-transform: uppercase;
}
.formulario-tarjeta .flexbox{
  display:flex;
  justify-content: space-between;
}
.formulario-tarjeta .cvv {
  min-width: 100px;
}
.formulario-tarjeta .btn-validacion{
  border: none;
  padding: 5px;
  font-size: 11px;
  box-sizing: 2px 2px 10px 0px rgba(0,85,212,0.4);
  cursor: pointer;
  height: 19px;
}

/*Estilos de la pagina 1*/
header {
  background-color: #2F0068;
}
body {
  background-color: #2F0068;
}
strong, span {
  color: #FF00FF;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800px;
}
.Portada {
  height:400px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  align-items: center;
  display: flex;
}
.imglogo {
  width: 200px;
  height: 160px;
}
h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700px;
  color: #F8F8FF;
  font-size:25px;
  text-align: left;
}
h2 {
  text-align: left;
  font-size: 40px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  color: #FF00FF;
  text-align: center;
}
h3 {
  font-size: 30px;
  color: #FF00FF;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  text-align: center;
}
.portaimagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.pagina1 {
  text-align: center;
}
/*Estilos de la pagina 3*/
.pagina2 {
  background-color: #F8F8FF;
}
/*Estilos de la pagina 3*/
.informativo {
  height: 400px;
  width: 1000px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #F8F8FF;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700500;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*Estilo boton pag1-pagina2*/
#prueba {
  background-color: #FF00FF;
  border-radius: 6px;
  border-color: #FF00FF;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#btn-validacion{
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #FF00FF;
  border-radius: 6px;
  border-color: #FF00FF;
  color: white;
  padding: 3px 10px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
}
